:root {
    
    
    
    
    
    
    
    
    
    --unity-colors-error-text: rgb(211, 34, 34);
    --unity-colors-warning-text: rgb(244, 188, 2);
    --unity-colors-play_mode-background: rgb(96, 96, 96);
    --unity-colors-default-text: rgb(210, 210, 210);
    --unity-colors-default-text-hover: rgb(189, 189, 189);
    --unity-colors-default-background: rgb(40, 40, 40);
    --unity-colors-default-border: rgb(35, 35, 35);
    
    --unity-colors-highlight-background: rgb(44, 93, 135);
    --unity-colors-highlight-background-hover: rgba(255, 255, 255, 0.06);
    --unity-colors-highlight-background-hover-lighter: rgb(95, 95, 95);
    --unity-colors-highlight-background-inactive: rgb(77, 77, 77);
    --unity-colors-highlight-text: rgb(76, 126, 255);
    --unity-colors-highlight-text-inactive: rgb(255, 255, 255);
    --unity-colors-alternated_rows-background: rgb(63, 63, 63);
    --unity-colors-link-text: rgb(76, 126, 255);
    --unity-colors-visited_link-text: rgb(255, 0, 255);
    --unity-colors-app_toolbar-background: rgb(25, 25, 25);
    --unity-colors-app_toolbar_button-background: rgb(56, 56, 56);
    --unity-colors-app_toolbar_button-background-hover: rgb(66, 66, 66);
    --unity-colors-app_toolbar_button-background-checked: rgb(106, 106, 106);
    --unity-colors-app_toolbar_button-background-pressed: rgb(106, 106, 106);
    --unity-colors-app_toolbar_button-border: rgb(25, 25, 25);
    --unity-colors-app_toolbar_button-border_accent: rgb(34, 34, 34);
    --unity-colors-box-background: rgba(40, 40, 40, 0.3);
    --unity-colors-box-border: transparent;
    --unity-colors-button-background: rgb(88, 88, 88);
    --unity-colors-button-background-pressed: rgb(70, 96, 124);
    --unity-colors-button-background-hover_pressed: rgb(79, 101, 127);
    --unity-colors-button-background-focus: rgb(110, 110, 110);
    --unity-colors-button-background-hover: rgb(103, 103, 103);
    --unity-colors-button-border: rgb(48, 48, 48);
    --unity-colors-button-border-pressed: rgb(13, 13, 13);
    --unity-colors-button-border_accent-focus: rgb(123, 174, 250);
    --unity-colors-button-border_accent: rgb(36, 36, 36);
    --unity-colors-button-text: rgb(238, 238, 238);
    --unity-colors-dropdown-background: rgb(81, 81, 81);
    --unity-colors-dropdown-background-hover: rgb(88, 88, 88);
    --unity-colors-dropdown-border: rgb(48, 48, 48);
    --unity-colors-dropdown-border_accent: rgb(36, 36, 36);
    --unity-colors-dropdown-text: rgb(228, 228, 228);
    --unity-colors-headerbar-background: rgb(60, 60, 60);
    --unity-colors-headerbar_column-background: rgb(60, 60, 60);
    --unity-colors-headerbar_column-background-pressed: rgb(80, 80, 80);
    --unity-colors-headerbar_column-background-hover: rgb(70, 70, 70);
    --unity-colors-helpbox-background: rgba(96, 96, 96, 0.2);
    --unity-colors-helpbox-border: rgb(35, 35, 35);
    --unity-colors-helpbox-text: rgb(189, 189, 189);
    --unity-colors-input_field-background: rgb(42, 42, 42);
    --unity-colors-input_field-border: rgb(33, 33, 33);
    --unity-colors-input_field-border-focus: rgb(58, 121, 187);
    --unity-colors-input_field-border-hover: rgb(101, 101, 101);
    --unity-colors-input_field-border_accent: rgb(13, 13, 13);
    --unity-colors-label-text: rgb(196, 196, 196);
    --unity-colors-label-text-focus: rgb(129, 180, 255);
    --unity-colors-object_field-background: rgb(40, 40, 40);
    --unity-colors-object_field-border: rgb(32, 32, 32);
    --unity-colors-object_field-border-focus: rgb(58, 121, 187);
    --unity-colors-object_field-border-hover: rgb(101, 101, 101);
    --unity-colors-object_field_button-background: rgb(55, 55, 55);
    --unity-colors-object_field_button-background-hover: rgb(76, 76, 76);
    --unity-colors-popup-background: rgb(49, 49, 49);
    --unity-colors-preview-background: rgb(49, 49, 49);
    --unity-colors-preview-border: rgb(35, 35, 35);
    --unity-colors-preview-text: rgb(189, 189, 189);
    --unity-colors-preview_overlay-text: rgb(222, 222, 222);
    --unity-colors-scrollbar_groove-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_groove-border: rgba(0, 0, 0, 0.1);
    --unity-colors-scrollbar_thumb-background: rgb(95, 95, 95);
    --unity-colors-scrollbar_thumb-background-hover: rgb(104, 104, 104);
    --unity-colors-scrollbar_thumb-border: rgb(50, 50, 50);
    --unity-colors-scrollbar_thumb-border-hover: rgb(104, 104, 104);
    --unity-colors-scrollbar_button-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_button-background-hover: rgb(73, 73, 73);
    --unity-colors-progress-background: rgb(48, 48, 48);
    --unity-colors-slider_groove-background: rgb(94, 94, 94);
    --unity-colors-slider_groove-background-disabled: rgb(87, 87, 87);
    --unity-colors-slider_thumb-background: rgb(153, 153, 153);
    --unity-colors-slider_thumb-background-disabled: rgb(102, 102, 102);
    --unity-colors-slider_thumb-background-hover: rgb(234, 234, 234);
    --unity-colors-slider_thumb-border: rgb(153, 153, 153);
    --unity-colors-slider_thumb-border-disabled: rgb(102, 102, 102);
    --unity-colors-slider_thumb_halo-background: rgba(16, 111, 205, 0.5);
    --unity-colors-tab-background: rgb(53, 53, 53);
    --unity-colors-tab-background-checked: rgb(60, 60, 60);
    --unity-colors-tab-background-hover: rgb(48, 48, 48);
    --unity-colors-tab-text: rgb(189, 189, 189);
    --unity-colors-toolbar-background: rgb(60, 60, 60);
    --unity-colors-toolbar-border: rgb(35, 35, 35);
    
    --unity-colors-toolbar_button-background: rgb(60, 60, 60);
    --unity-colors-toolbar_button-background-hover: rgb(70, 70, 70);
    --unity-colors-toolbar_button-background-checked: rgb(80, 80, 80);
    --unity-colors-toolbar_button-background-focus: rgb(70, 70, 70);
    --unity-colors-toolbar_button-border: rgb(35, 35, 35);
    --unity-colors-toolbar_button-text: rgb(196, 196, 196);
    --unity-colors-toolbar_button-text-hover: rgb(189, 189, 189);
    --unity-colors-toolbar_button-text-checked: rgb(196, 196, 196);
    
    --unity-colors-window-background: rgb(56, 56, 56);
    --unity-colors-window-border: rgb(36, 36, 36);
    --unity-colors-window-text: rgb(189, 189, 189);
    --unity-colors-inspector_titlebar-background: rgb(62, 62, 62);
    --unity-colors-inspector_titlebar-background-hover: rgb(71, 71, 71);
    --unity-colors-inspector_titlebar-border: rgb(26, 26, 26);
    --unity-colors-inspector_titlebar-border_accent: rgb(48, 48, 48);
    
    --unity-colors-tooltip-background: rgb(55, 55, 55);
    --unity-colors-tooltip-border: rgb(25, 25, 25);
    --unity-colors-separator-background: rgb(123, 123, 123);
    
    
    color: rgb(210, 210, 210);
    --unity-theme-background-color-1: rgb(88, 88, 88);
    --unity-theme-background-color-2: rgb(103, 103, 103);
    --unity-theme-background-color-3: rgb(53, 53, 53);
    --unity-theme-background-color-4: rgb(110, 110, 110);
    --unity-theme-background-color-5: rgb(60, 60, 60);
    --unity-theme-background-color-6: rgb(70, 70, 70);
    --unity-theme-background-color-7: rgb(80, 80, 80);
    --unity-theme-background-color-8: rgb(81, 81, 81);
    --unity-theme-background-color-9: rgb(48, 48, 48);
    --unity-theme-background-color-10: rgb(53, 53, 53);
    --unity-theme-background-color-11: rgb(94, 94, 94);
    --unity-theme-background-color-12: rgb(153, 153, 153);
    --unity-theme-background-color-13: rgb(234, 234, 234);
    --unity-theme-background-color-14: rgb(87, 87, 87);
    --unity-theme-background-color-15: rgb(102, 102, 102);
    --unity-theme-background-color-16: rgba(16, 111, 205, 0.5);
    --unity-theme-background-color-17: rgb(56, 56, 56);
    --unity-theme-background-color-50: rgb(44, 93, 135);
    --unity-theme-background-color-51: rgba(255, 255, 255, 0.06);
    --unity-theme-background-color-52: rgb(77, 77, 77);
    --unity-theme-background-color-53: rgb(42, 42, 42);
    --unity-theme-background-color-54: rgb(40, 40, 40);
    --unity-theme-background-color-55: rgb(55, 55, 55);
    --unity-theme-background-color-56: rgb(76, 76, 76);
    --unity-theme-background-color-57: rgba(0, 0, 0, 0.05);
    --unity-theme-background-color-58: rgb(95, 95, 95);
    --unity-theme-background-color-59: rgb(73, 73, 73);
    --unity-theme-background-color-60: rgb(104, 104, 104);
    --unity-theme-background-color-80: rgb(63, 63, 63);
    --unity-theme-background-color-81: rgba(40, 40, 40, 0.3);
    --unity-theme-background-color-82: rgb(25, 25, 25);
    --unity-theme-background-color-83: rgb(106, 106, 106);
    --unity-theme-background-color-84: rgb(66, 66, 66);
    --unity-theme-background-color-85: rgb(49, 49, 49);
    --unity-theme-background-color-86: rgba(96, 96, 96, 0.2);
    --unity-theme-background-color-87: rgb(96, 96, 96);
    --unity-theme-background-color-88: rgb(62, 62, 62);
    --unity-theme-background-color-89: rgb(71, 71, 71);
    --unity-theme-background-color-90: rgb(48, 48, 48);
    --unity-theme-background-color-91: rgb(70, 96, 124);
    --unity-theme-background-color-92: rgb(79, 101, 127);
    --unity-theme-background-color-93: rgb(123, 123, 123);
    --unity-theme-border-color-1: rgb(13, 13, 13);
    --unity-theme-border-color-2: rgb(16, 16, 16);
    --unity-theme-border-color-3: rgb(21, 21, 21);
    --unity-theme-border-color-4: rgb(26, 26, 26);
    --unity-theme-border-color-5: rgb(32, 32, 32);
    --unity-theme-border-color-6: rgb(33, 33, 33);
    --unity-theme-border-color-7: rgb(35, 35, 35);
    --unity-theme-border-color-8: rgb(36, 36, 36);
    --unity-theme-border-color-9: rgb(40, 40, 40);
    --unity-theme-border-color-10: rgb(48, 48, 48);
    --unity-theme-border-color-11: rgb(50, 50, 50);
    --unity-theme-border-color-12: rgb(51, 51, 51);
    --unity-theme-border-color-13: rgb(58, 121, 187);
    --unity-theme-border-color-14: rgb(99, 99, 99);
    --unity-theme-border-color-15: rgb(101, 101, 101);
    --unity-theme-border-color-16: rgb(102, 102, 102);
    --unity-theme-border-color-17: rgb(104, 104, 104);
    --unity-theme-border-color-18: rgb(13, 13, 13);
    --unity-theme-border-color-19: rgba(0, 0, 0, 0.1);
    --unity-theme-border-color-20: rgb(34, 34, 34);
    --unity-theme-border-color-21: rgb(25, 25, 25);
    --unity-theme-border-color-22: rgb(153, 153, 153);
    --unity-theme-border-color-23: rgb(204, 204, 204);
    --unity-theme-border-color-24: rgb(123, 174, 250);
    --unity-theme-text-color-0: rgb(255, 255, 255);
    --unity-theme-text-color-1: rgb(210, 210, 210);
    --unity-theme-text-color-2: rgb(196, 196, 196);
    --unity-theme-text-color-3: rgb(189, 189, 189);
    --unity-theme-text-color-4: rgb(228, 228, 228);
    --unity-theme-text-color-5: rgb(255, 255, 255);
    --unity-theme-text-color-6: rgb(76, 126, 255);
    --unity-theme-text-color-7: rgb(238, 238, 238);
    --unity-theme-text-color-8: rgb(211, 34, 34);
    --unity-theme-text-color-9: rgb(244, 188, 2);
    --unity-theme-text-color-10: rgb(129, 180, 255);
    --unity-theme-text-color-11: rgb(76, 126, 255);
    --unity-theme-text-color-12: rgb(255, 0, 255);
    --unity-theme-text-color-13: rgb(222, 222, 222);
    --unity-theme-text-color-14: rgb(166, 166, 166);
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    --unity-icons-toggle-checked: resource("UIPackageResources/Images/d_toggle_on.png");
    --unity-icons-toggle-checked_focus: resource("UIPackageResources/Images/d_toggle_on_focus.png");
    --unity-icons-toggle-checked_hover: resource("UIPackageResources/Images/d_toggle_on_hover.png");
    --unity-icons-toggle-hover_mixed: resource("UIPackageResources/Images/d_toggle_on_hover.png");
    --unity-icons-toggle-focus_mixed: resource("UIPackageResources/Images/d_toggle_on_focus.png");
    --unity-icons-toggle-mixed: resource("UIPackageResources/Images/d_toggle_on.png");
    --unity-icons-toggle_bg: resource("UIPackageResources/Images/d_toggle_bg.png");
    --unity-icons-toggle_bg-focus: resource("UIPackageResources/Images/d_toggle_bg_focus.png");
    --unity-icons-toggle_bg-focus_mixed: resource("UIPackageResources/Images/d_toggle_mixed_bg_focus.png");
    --unity-icons-toggle_bg-hover: resource("UIPackageResources/Images/d_toggle_bg_hover.png");
    --unity-icons-toggle_bg-hover_mixed: resource("UIPackageResources/Images/d_toggle_mixed_bg_hover.png");
    --unity-icons-toggle_bg-mixed: resource("UIPackageResources/Images/d_toggle_mixed_bg.png");
    
    
    
}

.unity-theme-env-variables {
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    --unity-text-color: rgb(210, 210, 210);
    --unity-active-text-color: rgb(129, 180, 255);
    --theme-window-text-color: rgb(189, 189, 189);
    --theme-window-border-color: rgb(36, 36, 36);
    --theme-window-background-color: rgba(57, 57, 57, 0.95);
    --theme-label-text-color: rgb(196, 196, 196);
    --theme-input-text-color: rgb(210, 210, 210);
    --theme-input-text-color-selected: rgb(76, 126, 255);
    --theme-input-text-color-hover: rgb(189, 189, 189);
    --theme-input-background-color: rgb(42, 42, 42);
    --theme-input-border-width: 1px;
    --theme-input-border-color: rgb(33, 33, 33);
    --theme-input-accent-border-color: rgb(13, 13, 13);
    --theme-input-border-focus-width: 1px;
    --theme-input-border-focus-color: rgb(58, 121, 187);
    --theme-input-border-hover-width: 1px;
    --theme-input-border-hover-color: rgb(101, 101, 101);
    --theme-input-border-checked-width: 1px;
    --theme-input-border-checked-color: rgb(101, 101, 101);
    --theme-object-field-background-color: rgb(40, 40, 40);
    --theme-object-field-border-width: 1px;
    --theme-object-field-border-color: rgb(32, 32, 32);
    --theme-object-field-border-hover-width: 1px;
    --theme-object-field-border-hover-color: rgb(101, 101, 101);
    --theme-object-field-border-focus-width: 1px;
    --theme-object-field-border-focus-color: rgb(58, 121, 187);
    --theme-object-field-border-checked-width: 1px;
    --theme-object-field-border-checked-color: rgb(101, 101, 101);
    --theme-object-field-button-background-color: rgb(55, 55, 55);
    --theme-object-field-button-background-color-hover: rgb(76, 76, 76);
    --theme-button-text-color: rgb(238, 238, 238);
    --theme-button-background-color: rgb(88, 88, 88);
    --theme-button-background-color-hover: rgb(103, 103, 103);
    --theme-button-background-color-checked: rgb(70, 96, 124);
    --theme-button-border-width: 1px;
    --theme-button-border-color: rgb(48, 48, 48);
    --theme-button-accent-border-color: rgb(36, 36, 36);
    --theme-toolbar-background-color: rgb(60, 60, 60);
    --theme-toolbar-button-text-color: rgb(196, 196, 196);
    --theme-toolbar-button-text-color-hover: rgb(189, 189, 189);
    --theme-toolbar-button-text-color-checked: rgb(196, 196, 196);
    --theme-toolbar-button-border-width: 1px;
    --theme-toolbar-button-border-color: rgb(21, 21, 21);
    --theme-toolbar-button-border-2-width: 1px;
    --theme-toolbar-button-border-2-color: rgb(35, 35, 35);
    --theme-toolbar-button-background-color: rgb(60, 60, 60);
    --theme-toolbar-button-background-color-hover: rgb(70, 70, 70);
    --theme-toolbar-button-background-color-checked: rgb(80, 80, 80);
    --theme-toolbar-button-background-color-focus: rgb(70, 70, 70);
    --theme-app-toolbar-button-border-width: 1px;
    --theme-app-toolbar-button-border-color: rgb(25, 25, 25);
    --theme-dropdown-border-width: 1px;
    --theme-dropdown-border-color: rgb(48, 48, 48);
    --theme-dropdown-accent-border-color: rgb(36, 36, 36);
    --theme-dropdown-text-color: rgb(228, 228, 228);
    --theme-dropdown-background-color: rgb(81, 81, 81);
    --theme-dropdown-background-color-hover: rgb(88, 88, 88);
    --theme-scrollbar-thumb-background-color: rgb(95, 95, 95);
    --theme-scrollbar-thumb-border-width: 1px;
    --theme-scrollbar-thumb-border-color: rgb(50, 50, 50);
    --theme-scrollbar-thumb-background-color-hover: rgb(104, 104, 104);
    --theme-scrollbar-border-color: rgba(0, 0, 0, 0.1);
    --theme-scrollbar-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color-hover: rgb(73, 73, 73);
    --theme-slider-background-color: rgb(94, 94, 94);
    --theme-slider-background-color-disabled: rgb(87, 87, 87);
    --theme-slider-thumb-background-color: rgb(153, 153, 153);
    --theme-slider-thumb-background-color-hover: rgb(234, 234, 234);
    --theme-slider-thumb-background-color-disabled: rgb(102, 102, 102);
    --theme-slider-thumb-border-width: 1px;
    --theme-slider-thumb-border-color: rgb(153, 153, 153);
    --theme-slider-thumb-border-color-disabled: rgb(102, 102, 102);
    --theme-slider-thumb-extent-background-color-focus: rgba(16, 111, 205, 0.5);
    --theme-box-background-color: rgba(40, 40, 40, 0.3);
    --theme-box-border-color: transparent;
    --theme-help-box-background-color: rgb(63, 63, 63);
    --theme-help-box-border-color: rgb(26, 26, 26);
    
    
    
    --theme-list-view-drag-hover-bar-color: rgb(51, 86, 218);
    --theme-list-view-drag-hover-item-background-color: rgb(62, 95, 150);
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    --theme-radio-button-checkmark-background-color: rgb(196, 196, 196);
    --theme-view-background-color: rgb(56, 56, 56);
    --theme-line-background-color-hover: rgb(48, 48, 48);
    --theme-line-background-color-drop-hover: rgb(67, 67, 67);
    --theme-background-color-alternate: rgb(63, 63, 63);
    --theme-line-selection-background-color: rgb(77, 77, 77);
    --theme-line-selection-background-color-focus: rgb(44, 93, 135);
    --theme-line-selection-background-color-drop-focus: rgb(44, 102, 140);
    --theme-line-selection-text-color: rgb(255, 255, 255);
    --progress-bar-back-background-color: rgb(48, 48, 48);
    --progress-bar-back-border-color: rgb(37, 37, 37);
    --progress-bar-progress-color: rgb(44, 93, 135);
    --progress-bar-text-color: rgb(255, 255, 255);
    --theme-base-field-label-mixed-values-color: rgba(210, 210, 210, 0.5);
    --theme-tab-background: rgb(53, 53, 53);
    --theme-header-bar-background-color: rgb(64, 64, 64);
    --theme-header-bar-background-color-hover: rgb(69, 69, 69);
    --theme-header-bar-border-color: rgb(40, 40, 40);
    --theme-popup-border-color: rgb(99, 99, 99);
}



















.unity-base-field__label {
    
    
    
    
    
    
    
    color: rgb(196, 196, 196);
}




















.unity-base-field__label--mixed-value > .unity-base-text-field__input {
    color: rgba(210, 210, 210, 0.5);
}

.unity-base-field__label--mixed-value > .unity-base-field__input {
    color: rgba(210, 210, 210, 0.5);
}

.unity-button {
    
    
    
    
    color: rgb(238, 238, 238);
    background-color: rgb(88, 88, 88);
    border-left-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    border-bottom-color: rgb(36, 36, 36);
    
    
    
    
    
    
    
    
    
    
    
}

.unity-button:hover:enabled {
    background-color: rgb(103, 103, 103);
}

.unity-button:active:enabled {
    background-color: rgb(70, 96, 124);
    border-color: rgb(36, 36, 36);
    border-top-color: rgb(13, 13, 13);
}

.unity-button:checked {
    background-color: rgb(70, 96, 124);
    border-color: rgb(36, 36, 36);
    border-top-color: rgb(13, 13, 13);
}

.unity-button:focus:enabled {
    border-left-color: rgb(123, 174, 250);
    border-top-color: rgb(123, 174, 250);
    border-right-color: rgb(123, 174, 250);
    border-bottom-color: rgb(123, 174, 250);
}
























.unity-toggle__checkmark {
    padding-top: 0;
    width: 14px;
    height: 14px;
    flex: 0 0 auto;
    align-self: center;
    background-image: resource("UIPackageResources/Images/d_toggle_bg.png");
}

.unity-toggle__checkmark.unity-toggle__mixed-values {
    background-image: resource("UIPackageResources/Images/d_toggle_mixed_bg.png");
}

.unity-toggle > .unity-toggle__input:hover:enabled > .unity-toggle__checkmark.unity-toggle__mixed-values {
    background-image: resource("UIPackageResources/Images/d_toggle_mixed_bg_hover.png");
}

.unity-toggle > .unity-toggle__input:focus:enabled > .unity-toggle__checkmark.unity-toggle__mixed-values {
    background-image: resource("UIPackageResources/Images/d_toggle_mixed_bg_focus.png");
}

.unity-toggle > .unity-toggle__input:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_on.png");
}

.unity-toggle > .unity-toggle__input:active:enabled > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_on.png");
}

.unity-toggle > .unity-toggle__input:hover:enabled > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_bg_hover.png");
}

.unity-toggle > .unity-toggle__input:hover:enabled:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_on_hover.png");
}

.unity-toggle > .unity-toggle__input:hover:enabled:active > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_on_hover.png");
}

.unity-toggle > .unity-toggle__input:focus:enabled > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_bg_focus.png");
}

.unity-toggle > .unity-toggle__input:focus:enabled:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/d_toggle_on_focus.png");
}






















.unity-radio-button__input:focus:enabled > .unity-radio-button__text {
    color: rgb(129, 180, 255);
}

.unity-radio-button__checkmark-background {
    
    
    
    
    
    background-color: rgb(42, 42, 42);
    
    border-color: rgb(33, 33, 33);
    
    
}

.unity-radio-button__checkmark {
    
    
    
    background-color: rgb(196, 196, 196);
    
    
}

.unity-radio-button > .unity-radio-button__input:hover:enabled > .unity-radio-button__checkmark-background {
    border-color: rgb(101, 101, 101);
}

.unity-radio-button > .unity-radio-button__input:focus:enabled > .unity-radio-button__checkmark-background {
    border-color: rgb(58, 121, 187);
}




























































.unity-base-slider--vertical .unity-base-slider__tracker {
    background-color: rgb(94, 94, 94);
    
    
    
    
    
    
}

.unity-base-slider--horizontal .unity-base-slider__tracker {
    background-color: rgb(94, 94, 94);
    
    
    
}

.unity-base-slider--vertical .unity-base-slider__dragger {
    
    
    
    
    
    border-color: rgb(153, 153, 153);
    background-color: rgb(153, 153, 153);
}

.unity-base-slider--horizontal .unity-base-slider__dragger {
    
    
    
    
    
    border-color: rgb(153, 153, 153);
    background-color: rgb(153, 153, 153);
    
}

.unity-base-slider__dragger:hover:enabled {
    background-color: rgb(234, 234, 234);
}

.unity-base-slider__input:focus:enabled .unity-base-slider__dragger {
    background-color: rgb(234, 234, 234);
}

.unity-base-slider__tracker:disabled {
    opacity: 1;
    background-color: rgb(87, 87, 87);
}

.unity-base-slider__dragger:disabled {
    opacity: 1;
    border-color: rgb(102, 102, 102);
    background-color: rgb(102, 102, 102);
}

.unity-base-slider__dragger-border {
    background-color: rgba(16, 111, 205, 0.5);
    
    
    
    
    
    
    
}











































.unity-min-max-slider__tracker {
    
    
    
    background-color: rgb(94, 94, 94);
}

























.unity-scroller--horizontal {
    
    background-color: rgba(0, 0, 0, 0.05);
    border-top-color: rgba(0, 0, 0, 0.1);
    
}

.unity-scroller--vertical {
    
    background-color: rgba(0, 0, 0, 0.05);
    border-left-color: rgba(0, 0, 0, 0.1);
    
}

































.unity-scroller--horizontal > .unity-scroller__low-button:hover:enabled {
    background-color: rgb(73, 73, 73);
}

.unity-scroller--horizontal > .unity-scroller__high-button:hover:enabled {
    background-color: rgb(73, 73, 73);
}

.unity-scroller--vertical > .unity-scroller__low-button:hover:enabled {
    background-color: rgb(73, 73, 73);
}

.unity-scroller--vertical > .unity-scroller__high-button:hover:enabled {
    background-color: rgb(73, 73, 73);
}

.unity-scroller--horizontal .unity-base-slider__tracker {
    
    
    
    
    
    
    background-color: transparent;
}

.unity-scroller--vertical .unity-base-slider__tracker {
    
    
    
    
    
    
    background-color: transparent;
}

.unity-scroller--vertical .unity-base-slider__dragger {
    
    border-color: rgb(50, 50, 50);
    background-color: rgb(95, 95, 95);
    
    
    
    
    
    
}

.unity-scroller--horizontal .unity-base-slider__dragger {
    
    border-color: rgb(50, 50, 50);
    background-color: rgb(95, 95, 95);
    
    
    
    
    
    
}

.unity-scroller--vertical .unity-base-slider__dragger:hover:enabled {
    background-color: rgb(104, 104, 104);
}

.unity-scroller--horizontal .unity-base-slider__dragger:hover:enabled {
    background-color: rgb(104, 104, 104);
}



















.unity-scroller--horizontal .unity-base-slider__input:focus:enabled .unity-base-slider__dragger {
    background-color: rgb(95, 95, 95);
}

.unity-scroller--vertical .unity-base-slider__input:focus:enabled .unity-base-slider__dragger {
    background-color: rgb(95, 95, 95);
}

.unity-scroller--vertical .unity-base-slider__input:focus:enabled .unity-base-slider__dragger:hover:enabled {
    background-color: rgb(104, 104, 104);
}

.unity-scroller--horizontal .unity-base-slider__input:focus:enabled .unity-base-slider__dragger:hover:enabled {
    background-color: rgb(104, 104, 104);
}




















































































.unity-box {
    background-color: rgba(40, 40, 40, 0.3);
    border-color: transparent;
    border-width: 1px;
}

.unity-popup-window {
    
    color: rgb(189, 189, 189);
    
    
    
    background-color: rgba(57, 57, 57, 0.95);
    
    
    
    
    border-color: rgb(36, 36, 36);
}







.unity-enum-field__input {
    
    
    
    
    
    
    
    
    border-left-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    border-bottom-color: rgb(36, 36, 36);
    background-color: rgb(81, 81, 81);
}

.unity-base-popup-field__input {
    
    
    
    
    
    
    
    
    border-left-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    border-bottom-color: rgb(36, 36, 36);
    background-color: rgb(81, 81, 81);
    min-width: 55px;
}















.unity-enum-field__text {
    
    
    
    
    
    color: rgb(228, 228, 228);
}

.unity-base-popup-field__text {
    
    
    
    
    
    color: rgb(228, 228, 228);
}

.unity-enum-field:hover:enabled > .unity-enum-field__input {
    background-color: rgb(88, 88, 88);
}

.unity-base-popup-field:hover:enabled > .unity-base-popup-field__input {
    background-color: rgb(88, 88, 88);
}

.unity-enum-field:focus:enabled > .unity-enum-field__input {
    border-color: rgb(58, 121, 187);
}

.unity-base-popup-field:focus:enabled > .unity-base-popup-field__input {
    border-color: rgb(58, 121, 187);
}
















.unity-base-dropdown__container-outer {
    
    
    border-color: rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    
}

.unity-base-dropdown__container-inner {
    position: relative;
    background-color: rgb(63, 63, 63);
    flex-direction: column;
    overflow: visible;
    padding: 4px 0;
    border-width: 1px;
    border-color: rgb(101, 101, 101);
    border-radius: 3px;
}









.unity-base-dropdown__item:hover:enabled {
    background-color: rgb(44, 93, 135);
}


















.unity-base-dropdown__label {
    color: rgb(238, 238, 238);
}

.unity-base-dropdown__item:hover:enabled > .unity-base-dropdown__label {
    color: rgb(255, 255, 255);
}

.unity-base-dropdown__separator {
    height: 1px;
    background-color: rgb(101, 101, 101);
    margin: 4px 0;
}










.unity-progress-bar__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(44, 93, 135);
}

.unity-progress-bar__background {
    border-width: 1px;
    border-color: rgb(37, 37, 37);
    background-color: rgb(48, 48, 48);
    height: 19px;
}







.unity-progress-bar__title {
    
    
    
    
    
    color: rgb(255, 255, 255);
}








































































































































































































.unity-foldout__toggle > .unity-toggle__input:focus:enabled > .unity-toggle__text {
    color: rgb(129, 180, 255);
}

















.unity-base-text-field {
    white-space: nowrap;
    --unity-selection-color: rgba(61, 128, 223, 0.65);
    --unity-cursor-color: rgb(180, 180, 180);
}

.unity-base-text-field__input {
    
    
    
    
    
    
    
    background-color: rgb(42, 42, 42);
    border-width: 1px;
    border-left-color: rgb(33, 33, 33);
    border-top-color: rgb(13, 13, 13);
    border-right-color: rgb(33, 33, 33);
    border-bottom-color: rgb(33, 33, 33);
    border-radius: 3px;
    color: rgb(210, 210, 210);
    --unity-sync-text-editor-engine: true;
}

.unity-base-field:focus:enabled > .unity-base-field__label {
    color: rgb(129, 180, 255);
}

.unity-base-text-field:hover:enabled > .unity-base-text-field__input {
    border-width: 1px;
    border-color: rgb(101, 101, 101);
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field__input:hover:enabled {
    border-width: 1px;
    border-color: rgb(101, 101, 101);
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field:focus:enabled > .unity-base-text-field__input {
    border-width: 1px;
    border-color: rgb(58, 121, 187);
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field__input:focus:enabled {
    border-width: 1px;
    border-color: rgb(58, 121, 187);
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-field__object:focus:enabled > .unity-base-field__label {
    color: rgb(129, 180, 255);
}


































































































.unity-two-pane-split-view__dragline {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

















.unity-two-pane-split-view__dragline-anchor {
    position: absolute;
    background-color: rgb(89, 89, 89);
}

.unity-two-pane-split-view__dragline-anchor:hover:enabled {
    background-color: rgb(255, 255, 255);
}













.unity-collection-view__item--alternative-background {
    background-color: rgb(63, 63, 63);
}

.unity-collection-view__item:hover:enabled {
    background-color: rgb(48, 48, 48);
}

.unity-collection-view__reorderable-item:hover:enabled {
    background-color: rgb(48, 48, 48);
}

.unity-collection-view__item--selected {
    background-color: rgb(77, 77, 77);
}

.unity-collection-view__item--selected:hover:enabled {
    background-color: rgb(44, 93, 135);
    color: rgb(255, 255, 255);
}

.unity-collection-view:focus:enabled .unity-collection-view__item--selected {
    background-color: rgb(44, 93, 135);
    color: rgb(255, 255, 255);
}




























.unity-collection-view--with-border {
    border-width: 1px;
    border-color: rgb(32, 32, 32);
    border-radius: 3px;
    padding: 2px 0;
}

.unity-collection-view__item.unity-collection-view__item--drag-hover {
    background-color: rgb(67, 67, 67);
}

.unity-collection-view:focus:enabled .unity-collection-view__item--selected.unity-collection-view__item--drag-hover {
    background-color: rgb(44, 102, 140);
}

.unity-collection-view__drag-hover-bar {
    position: absolute;
    height: 2px;
    background-color: rgb(51, 86, 218);
}

.unity-collection-view__drag-hover-marker {
    position: absolute;
    height: 6px;
    width: 6px;
    top: -2px;
    border-color: rgb(51, 86, 218);
    border-radius: 3px;
    border-width: 2px;
    background-color: white;
}

.unity-tree-view {
    background-color: rgb(56, 56, 56);
    flex: 1 0 0;
}













































.unity-list-view__scroll-view--with-footer {
    background-color: rgb(70, 70, 70);
    border-color: var(--unity-theme-border-color-4);
}






















.unity-list-view__size-field--with-footer {
    background-color: rgb(70, 70, 70);
}

.unity-list-view__size-field--with-header {
    position: absolute;
    right: 0;
    max-width: 50px;
    background-color: transparent;
    padding: 1px 0 0 0;
}


































.unity-list-view__reorderable-handle-bar {
    background-color: rgb(95, 95, 95);
    height: 1px;
    min-height: 1px;
    width: 10px;
    margin: 1px 2px 1px 3px;
}






.unity-list-view__footer {
    background-color: rgb(70, 70, 70);
    border-color: var(--unity-theme-border-color-4);
    
    
    
    
    
    
    
    
    
    
    
    
    
}










.unity-list-view__foldout-header > .unity-foldout__toggle:hover:enabled {
    background-color: rgb(69, 69, 69);
}








.unity-help-box {
    align-items: center;
    flex-direction: row;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(26, 26, 26);
    background-color: rgb(63, 63, 63);
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px;
}

















































.unity-min-max-gradient-field__dropdown-input {
    min-width: auto;
    border-width: 0;
    background-color: transparent;
}

.unity-base-popup-field:hover:enabled > .unity-base-popup-field__input.unity-min-max-gradient-field__dropdown-input {
    background-color: transparent;
}





















.unity-button-strip-field__button:checked {
    background-color: rgb(110, 110, 110);
}

















.unity-multi-column-view__header-container {
    background-color: rgb(60, 60, 60);
    border-bottom-color: rgb(35, 35, 35);
    border-bottom-width: 1px;
    overflow: hidden;
}












































.unity-multi-column-header__column__resize-preview__visual {
    width: 2px;
    margin-left: -1px;
    flex-grow: 1;
    background-color: rgb(44, 93, 135);
}

.unity-multi-column-header__column__move-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    border-color: rgb(44, 93, 135);
    border-width: 2px;
}







.unity-multi-column-header__column__move-location-preview__visual {
    width: 2px;
    margin-left: -1px;
    flex-grow: 1;
    background-color: rgb(44, 93, 135);
}















.unity-multi-column-header__column {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    background-color: rgb(60, 60, 60);
    border-right-color: rgb(35, 35, 35);
    border-right-width: 1px;
}

.unity-multi-column-header__column:hover:enabled {
    background-color: rgb(70, 70, 70);
}

.unity-multi-column-header__column:active:enabled {
    background-color: rgb(80, 80, 80);
}

.unity-multi-column-header__column--moving {
    background-color: rgb(70, 96, 124);
}

.unity-multi-column-header__column--moving:hover:enabled {
    background-color: rgb(70, 96, 124);
}
































































































































.unity-base-field__input > .unity-base-field__label--mixed-value {
    color: rgba(210, 210, 210, 0.5);
}

.unity-object-field__object > .unity-base-field__label--mixed-value {
    color: rgba(210, 210, 210, 0.5);
    margin-left: 0;
}

.unity-composite-field__field > .unity-base-field__label--mixed-value {
    color: rgba(210, 210, 210, 0.5);
}























.unity-list-view__header {
    border-width: 1px;
    border-color: rgb(32, 32, 32);
    background-color: rgb(53, 53, 53);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: -1px;
}


























































.unity-binding__prefab-override-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(5, 147, 224);
}

.unity-binding__prefab-override-bar-not-applicable {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(5, 147, 224);
    opacity: 0.35;
}













.unity-binding__live-property-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(255, 165, 60);
}

.unity-binding__preset-ignore-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(240, 81, 60);
}

.unity-color-field__input {
    min-height: 16px;
}




















.unity-object-field__input {
    flex-direction: row;
    background-color: rgb(40, 40, 40);
    border-radius: 3px;
    border-color: rgb(32, 32, 32);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.unity-object-field:hover:enabled > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(101, 101, 101);
}

.unity-object-field:checked > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(101, 101, 101);
}

.unity-object-field:focus:enabled > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(58, 121, 187);
}

.unity-object-field__object:focus:enabled > .unity-object-field-display__label {
    color: rgb(210, 210, 210);
}
























.unity-object-field-display__label {
    flex: 1 0 0;
    margin-left: 2px;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 0;
    overflow: hidden;
    color: rgb(210, 210, 210);
}

.unity-object-field-display--accept-drop {
    background-color: rgb(44, 93, 135);
}

.unity-object-field__selector {
    width: 18px;
    height: 16px;
    align-self: center;
    flex-shrink: 0;
    background-color: rgb(55, 55, 55);
    
    
    
    
    
}

.unity-object-field__selector:hover:enabled {
    background-color: rgb(76, 76, 76);
}

.unity-curve-field__input {
    background-color: rgb(86, 86, 86);
    --unity-curve-color: rgb(0, 255, 0);
    margin-top: 1px;
    min-height: 15px;
    border-color: rgb(33, 33, 33);
    border-width: 1px;
}









.unity-curve-field:focus:enabled > .unity-curve-field__input {
    border-color: rgb(58, 121, 187);
}

.unity-gradient-field__input {
    min-height: 16px;
    border-color: rgb(33, 33, 33);
    border-width: 1px;
}


















.unity-gradient-field:focus:enabled > .unity-gradient-field__input {
    border-color: rgb(58, 121, 187);
}

































































































































































































.unity-search-field-base {
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    background-color: rgb(42, 42, 42);
    border-width: 1px;
    border-left-color: rgb(33, 33, 33);
    border-top-color: rgb(13, 13, 13);
    border-right-color: rgb(33, 33, 33);
    border-bottom-color: rgb(33, 33, 33);
    border-radius: 3px;
}

.unity-search-field-base:hover:enabled {
    border-width: 1px;
    border-color: rgb(101, 101, 101);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.unity-search-field-base:focus:enabled {
    border-width: 1px;
    border-color: rgb(58, 121, 187);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.unity-search-field-base__search-button {
    
    
    
    background-color: transparent;
    
    
    
    
    
    
    
}







.unity-search-field-base__search-button:hover:enabled {
    background-color: transparent;
}
























































































.unity-popup-window-root {
    border-color: rgb(99, 99, 99);
    border-width: 1px;
}





.unity-binding--animation-animated {
    -unity-background-image-tint-color: rgb(137, 216, 255);
}

.unity-binding--animation-animated > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(137, 216, 255);
}

.unity-binding--animation-recorded {
    -unity-background-image-tint-color: rgb(255, 127, 127);
}

.unity-binding--animation-recorded > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 127, 127);
}

.unity-binding--animation-candidate {
    -unity-background-image-tint-color: rgb(255, 170, 109);
}

.unity-binding--animation-candidate > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 170, 109);
}









.unity-gradient-field__border {
    border-color: rgb(29, 29, 29);
}

.unity-gradient-field__input:focus > .unity-gradient-field__border {
    border-color: rgb(9, 17, 65);
}
